<?xml version="1.0"?>
<openerp>
    <data>

        <record id="action_state_fields" model="ir.actions.act_window">
            <field name="name">Partner State fields</field>
            <field name="res_model">res.partner.state.field</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref=""/>
            <field name="search_view_id" ref=""/>
            <field name="domain">[]</field>
        </record>

        <menuitem
            name="Partner State Fields"
            id="menu_state_fields"
            sequence="50"
            action="action_state_fields"
            parent="base.menu_config_address_book"
            />
        
    </data>
</openerp>
